=begin
#TextMagic API Documentation

## Overview ## Introduction         test <img style=\"float: right; margin-left: 10px; width: 100px;\" src=\"images/phone.png\"> TextMagic SMS API is a platform for building your own messaging app using our messaging infrastructure. It allows you to send and receive SMS text messages, query information about inbound and outbound messages, manage contacts, create templates (i.e. message formats and static texts) and schedule recurrent SMS messages as well as process bulk SMS messages. <button name=\"button\" onclick=\"http://www.google.com\" class=\"btn\">Try TextMagic API for Free</button>  ### Two Ways to Use TextMagic API * [REST API](https://www.textmagic.com/docs/api/start/) – get full access to TextMagic’s messaging gateway features * [Email to SMS API](https://www.textmagic.com/docs/api/send-email-to-sms/) – set up two-way SMS communication without the need to write any additional code  ### Code Libraries We have created a set of client libraries for the most popular programming languages (such as REST API Java and REST API PHP). These libraries allow you to integrate our API into your code in minutes. Just choose your preferred language to get started:  ## Getting started Get Started with the TextMagic REST API To start sending text messages using the TextMagic REST API, just follow these steps: 1. Generate the API credentials 1. Connect to our API endpoint This page provides all the information you need to get started. Here, we explain the following steps:  How to obtain the API credentials The API endpoint How the REST API works The next step How to obtain the API credentials  ### How to obtain the API credentials To start sending text messages, you need to create an API key. API keys are similar to an account password; the difference is that an API key only provides access to the API: you cannot log in to TextMagic Online using the API key.  Your program sends the login credentials with each API request as HTTP headers: `X-TM-Username` is your TextMagic username, while `X-TM-Key` is your API key.  How to obtain an API key:  1. Log in to TextMagic (or start a free trial if you haven’t registered yet). 1. Go to the API settings page. 1. Click the Add new API key button. 1. Enter an app name for this key. Note, it’s just a label, so pick any name. 1. Click Generate new key. 1. You should now see your new API key in the green notification banner above the table:  ![alt text](images/credentials.png)  > Note for API v1 users > V1 keys are not compatible with the V2 version of the TextMagic REST API, so you will need to generate a new API key to use the V2 endpoint.  ### The API endpoint The TextMagic REST API endpoint is: ``` https://rest.textmagic.com/api/v2 ``` All the URLs referenced in this documentation should use this base URL.  ### How the REST API works REST APIs use the HTTP protocol to send and receive messages. REST messages are usually encoded as JSON documents and are an improvement over older methods such as the XML based SOAP protocol. REST APIs use the same set of methods that web browsers use: POST, GET, PUT or DELETE. These correspond to the CRUD operations: create, read, update and delete. Often, REST URIs provide direct CRUD access to entities or collections of entities, for example: http://api.foo.com/people. In this instance, to delete a person’s endpoint, you might simply call the endpoint DELETE http://api.foo.com/people/{id}. REST makes these types of operations simple.  > Example > > Let’s take the entity most often used in messaging: contacts. Imagine you want to perform operations on your contacts list: well, it’s only a matter of calling the following endpoints: > * GET /api/v2/contacts (get all of your contacts) > * GET /api/v2/contacts/{id} (get a specific contact) > * POST /api/v2/contacts (create a new contact) > * PUT /api/v2/contacts/{id} (update an existing contact) > * DELETE /api/v2/contacts/{id} (delete an existing contact) It’s that simple! In fact, that’s all you need to do to manage the contacts in your TextMagic account!  ## Sandbox Sandbox is a tool to test TextMagic REST API requests without the need to install any applications or write any code. Here, we explain the following details about Sandbox: * The credentials area * Command documentation * How it works  <a href=\"\">Go to TextMagic Sandbox</a>  ### The credentials area To make requests using your TextMagic account, you need to enter your account username and your API key into the corresponding fields. You may also Save them in your browser or press Clear to erase them.  ![alt text](images/sandbox.png) 

OpenAPI spec version: 2
Contact: support@textmagi.biz
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.8

=end

require 'uri'

module TextMagic
  class TextMagicApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign contacts to the specified list.
    # @param assign_contacts_to_list_input_object Contact ID(s), separated by comma or &#39;all&#39; to add all contacts belonging to the current user
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def assign_contacts_to_list(assign_contacts_to_list_input_object, id, opts = {})
      data, _status_code, _headers = assign_contacts_to_list_with_http_info(assign_contacts_to_list_input_object, id, opts)
      data
    end

    # Assign contacts to the specified list.
    # @param assign_contacts_to_list_input_object Contact ID(s), separated by comma or &#39;all&#39; to add all contacts belonging to the current user
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def assign_contacts_to_list_with_http_info(assign_contacts_to_list_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.assign_contacts_to_list ...'
      end
      # verify the required parameter 'assign_contacts_to_list_input_object' is set
      if @api_client.config.client_side_validation && assign_contacts_to_list_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'assign_contacts_to_list_input_object' when calling TextMagicApi.assign_contacts_to_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.assign_contacts_to_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(assign_contacts_to_list_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#assign_contacts_to_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Block contact from inbound and outbound communication by phone number.
    # @param block_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def block_contact(block_contact_input_object, opts = {})
      data, _status_code, _headers = block_contact_with_http_info(block_contact_input_object, opts)
      data
    end

    # Block contact from inbound and outbound communication by phone number.
    # @param block_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def block_contact_with_http_info(block_contact_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.block_contact ...'
      end
      # verify the required parameter 'block_contact_input_object' is set
      if @api_client.config.client_side_validation && block_contact_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'block_contact_input_object' when calling TextMagicApi.block_contact"
      end
      # resource path
      local_var_path = '/api/v2/contacts/block'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(block_contact_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#block_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Buy a dedicated number and assign it to the specified account.
    # @param buy_dedicated_number_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def buy_dedicated_number(buy_dedicated_number_input_object, opts = {})
      buy_dedicated_number_with_http_info(buy_dedicated_number_input_object, opts)
      nil
    end

    # Buy a dedicated number and assign it to the specified account.
    # @param buy_dedicated_number_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def buy_dedicated_number_with_http_info(buy_dedicated_number_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.buy_dedicated_number ...'
      end
      # verify the required parameter 'buy_dedicated_number_input_object' is set
      if @api_client.config.client_side_validation && buy_dedicated_number_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'buy_dedicated_number_input_object' when calling TextMagicApi.buy_dedicated_number"
      end
      # resource path
      local_var_path = '/api/v2/numbers'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(buy_dedicated_number_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#buy_dedicated_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel a survey.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def cancel_survey(id, opts = {})
      data, _status_code, _headers = cancel_survey_with_http_info(id, opts)
      data
    end

    # Cancel a survey.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def cancel_survey_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.cancel_survey ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.cancel_survey"
      end
      # resource path
      local_var_path = '/api/v2/surveys/{id}/cancel'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#cancel_survey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Check user phone verification code
    # @param check_phone_verification_code_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def check_phone_verification_code(check_phone_verification_code_input_object, opts = {})
      check_phone_verification_code_with_http_info(check_phone_verification_code_input_object, opts)
      nil
    end

    # Check user phone verification code
    # @param check_phone_verification_code_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def check_phone_verification_code_with_http_info(check_phone_verification_code_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.check_phone_verification_code ...'
      end
      # verify the required parameter 'check_phone_verification_code_input_object' is set
      if @api_client.config.client_side_validation && check_phone_verification_code_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'check_phone_verification_code_input_object' when calling TextMagicApi.check_phone_verification_code"
      end
      # resource path
      local_var_path = '/api/v2/user/phone/verification'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(check_phone_verification_code_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#check_phone_verification_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset list members to the specified contacts.
    # @param clear_and_assign_contacts_to_list_input_object Contact ID(s), separated by comma or &#39;all&#39; to add all contacts belonging to the current user
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def clear_and_assign_contacts_to_list(clear_and_assign_contacts_to_list_input_object, id, opts = {})
      data, _status_code, _headers = clear_and_assign_contacts_to_list_with_http_info(clear_and_assign_contacts_to_list_input_object, id, opts)
      data
    end

    # Reset list members to the specified contacts.
    # @param clear_and_assign_contacts_to_list_input_object Contact ID(s), separated by comma or &#39;all&#39; to add all contacts belonging to the current user
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def clear_and_assign_contacts_to_list_with_http_info(clear_and_assign_contacts_to_list_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.clear_and_assign_contacts_to_list ...'
      end
      # verify the required parameter 'clear_and_assign_contacts_to_list_input_object' is set
      if @api_client.config.client_side_validation && clear_and_assign_contacts_to_list_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'clear_and_assign_contacts_to_list_input_object' when calling TextMagicApi.clear_and_assign_contacts_to_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.clear_and_assign_contacts_to_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(clear_and_assign_contacts_to_list_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#clear_and_assign_contacts_to_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close chats by chat ids or close all chats
    # @param close_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def close_chats_bulk(close_chats_bulk_input_object, opts = {})
      close_chats_bulk_with_http_info(close_chats_bulk_input_object, opts)
      nil
    end

    # Close chats by chat ids or close all chats
    # @param close_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def close_chats_bulk_with_http_info(close_chats_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.close_chats_bulk ...'
      end
      # verify the required parameter 'close_chats_bulk_input_object' is set
      if @api_client.config.client_side_validation && close_chats_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'close_chats_bulk_input_object' when calling TextMagicApi.close_chats_bulk"
      end
      # resource path
      local_var_path = '/api/v2/chats/close/bulk'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(close_chats_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#close_chats_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close all chats that have no unread messages.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_read_chats(opts = {})
      close_read_chats_with_http_info(opts)
      nil
    end

    # Close all chats that have no unread messages.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def close_read_chats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.close_read_chats ...'
      end
      # resource path
      local_var_path = '/api/v2/chats/close/read'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#close_read_chats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close subaccount.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_subaccount(id, opts = {})
      close_subaccount_with_http_info(id, opts)
      nil
    end

    # Close subaccount.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def close_subaccount_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.close_subaccount ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.close_subaccount"
      end
      # resource path
      local_var_path = '/api/v2/subaccounts/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#close_subaccount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new contact from the submitted data.
    # @param create_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_contact(create_contact_input_object, opts = {})
      data, _status_code, _headers = create_contact_with_http_info(create_contact_input_object, opts)
      data
    end

    # Create a new contact from the submitted data.
    # @param create_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_contact_with_http_info(create_contact_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_contact ...'
      end
      # verify the required parameter 'create_contact_input_object' is set
      if @api_client.config.client_side_validation && create_contact_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_input_object' when calling TextMagicApi.create_contact"
      end
      # resource path
      local_var_path = '/api/v2/contacts'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_contact_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new contact note.
    # @param create_contact_note_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_contact_note(create_contact_note_input_object, id, opts = {})
      data, _status_code, _headers = create_contact_note_with_http_info(create_contact_note_input_object, id, opts)
      data
    end

    # Create a new contact note.
    # @param create_contact_note_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_contact_note_with_http_info(create_contact_note_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_contact_note ...'
      end
      # verify the required parameter 'create_contact_note_input_object' is set
      if @api_client.config.client_side_validation && create_contact_note_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_note_input_object' when calling TextMagicApi.create_contact_note"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.create_contact_note"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}/notes'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_contact_note_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_contact_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new custom field from the submitted data.
    # @param create_custom_field_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_custom_field(create_custom_field_input_object, opts = {})
      data, _status_code, _headers = create_custom_field_with_http_info(create_custom_field_input_object, opts)
      data
    end

    # Create a new custom field from the submitted data.
    # @param create_custom_field_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_custom_field_with_http_info(create_custom_field_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_custom_field ...'
      end
      # verify the required parameter 'create_custom_field_input_object' is set
      if @api_client.config.client_side_validation && create_custom_field_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_custom_field_input_object' when calling TextMagicApi.create_custom_field"
      end
      # resource path
      local_var_path = '/api/v2/customfields'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_custom_field_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new list from the submitted data.
    # @param create_list_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_list(create_list_input_object, opts = {})
      data, _status_code, _headers = create_list_with_http_info(create_list_input_object, opts)
      data
    end

    # Create a new list from the submitted data.
    # @param create_list_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_list_with_http_info(create_list_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_list ...'
      end
      # verify the required parameter 'create_list_input_object' is set
      if @api_client.config.client_side_validation && create_list_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_list_input_object' when calling TextMagicApi.create_list"
      end
      # resource path
      local_var_path = '/api/v2/lists'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_list_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add or update a device token.
    # @param create_push_token_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def create_push_token(create_push_token_input_object, opts = {})
      create_push_token_with_http_info(create_push_token_input_object, opts)
      nil
    end

    # Add or update a device token.
    # @param create_push_token_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_push_token_with_http_info(create_push_token_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_push_token ...'
      end
      # verify the required parameter 'create_push_token_input_object' is set
      if @api_client.config.client_side_validation && create_push_token_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_push_token_input_object' when calling TextMagicApi.create_push_token"
      end
      # resource path
      local_var_path = '/api/v2/push/tokens'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_push_token_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_push_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new survey from the submitted data.
    # @param create_survey_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_survey(create_survey_input_object, opts = {})
      data, _status_code, _headers = create_survey_with_http_info(create_survey_input_object, opts)
      data
    end

    # Create a new survey from the submitted data.
    # @param create_survey_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_survey_with_http_info(create_survey_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_survey ...'
      end
      # verify the required parameter 'create_survey_input_object' is set
      if @api_client.config.client_side_validation && create_survey_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_survey_input_object' when calling TextMagicApi.create_survey"
      end
      # resource path
      local_var_path = '/api/v2/surveys'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_survey_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_survey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new node from the submitted data.
    # @param create_survey_node_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_survey_node(create_survey_node_input_object, id, opts = {})
      data, _status_code, _headers = create_survey_node_with_http_info(create_survey_node_input_object, id, opts)
      data
    end

    # Create a new node from the submitted data.
    # @param create_survey_node_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_survey_node_with_http_info(create_survey_node_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_survey_node ...'
      end
      # verify the required parameter 'create_survey_node_input_object' is set
      if @api_client.config.client_side_validation && create_survey_node_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_survey_node_input_object' when calling TextMagicApi.create_survey_node"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.create_survey_node"
      end
      # resource path
      local_var_path = '/api/v2/surveys/{id}/nodes'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_survey_node_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_survey_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new template from the submitted data.
    # @param create_template_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [ResourceLinkResponse]
    def create_template(create_template_input_object, opts = {})
      data, _status_code, _headers = create_template_with_http_info(create_template_input_object, opts)
      data
    end

    # Create a new template from the submitted data.
    # @param create_template_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_template_with_http_info(create_template_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_template ...'
      end
      # verify the required parameter 'create_template_input_object' is set
      if @api_client.config.client_side_validation && create_template_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_template_input_object' when calling TextMagicApi.create_template"
      end
      # resource path
      local_var_path = '/api/v2/templates'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_template_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete all contacts.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_contacts(opts = {})
      delete_all_contacts_with_http_info(opts)
      nil
    end

    # Delete all contacts.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_all_contacts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_all_contacts ...'
      end
      # resource path
      local_var_path = '/api/v2/contact/all'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_all_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete all messages
    # Delete all messages.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_outbound_messages(opts = {})
      delete_all_outbound_messages_with_http_info(opts)
      nil
    end

    # Delete all messages
    # Delete all messages.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_all_outbound_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_all_outbound_messages ...'
      end
      # resource path
      local_var_path = '/api/v2/message/all'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_all_outbound_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an avatar for the current user.\\
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_avatar(opts = {})
      delete_avatar_with_http_info(opts)
      nil
    end

    # Delete an avatar for the current user.\\
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_avatar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_avatar ...'
      end
      # resource path
      local_var_path = '/api/v2/user/avatar'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_avatar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete messages from chat by given messages ID(s).
    # @param delete_chat_messages_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_chat_messages(delete_chat_messages_bulk_input_object, id, opts = {})
      delete_chat_messages_with_http_info(delete_chat_messages_bulk_input_object, id, opts)
      nil
    end

    # Delete messages from chat by given messages ID(s).
    # @param delete_chat_messages_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_chat_messages_with_http_info(delete_chat_messages_bulk_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_chat_messages ...'
      end
      # verify the required parameter 'delete_chat_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_chat_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_chat_messages_bulk_input_object' when calling TextMagicApi.delete_chat_messages"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_chat_messages"
      end
      # resource path
      local_var_path = '/api/v2/chats/{id}/messages/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_chat_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_chat_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete chats by given ID(s) or delete all chats.
    # @param delete_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_chats_bulk(delete_chats_bulk_input_object, opts = {})
      delete_chats_bulk_with_http_info(delete_chats_bulk_input_object, opts)
      nil
    end

    # Delete chats by given ID(s) or delete all chats.
    # @param delete_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_chats_bulk_with_http_info(delete_chats_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_chats_bulk ...'
      end
      # verify the required parameter 'delete_chats_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_chats_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_chats_bulk_input_object' when calling TextMagicApi.delete_chats_bulk"
      end
      # resource path
      local_var_path = '/api/v2/chats/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_chats_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_chats_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single contact.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact(id, opts = {})
      delete_contact_with_http_info(id, opts)
      nil
    end

    # Delete a single contact.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an avatar for the contact.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_avatar(id, opts = {})
      delete_contact_avatar_with_http_info(id, opts)
      nil
    end

    # Delete an avatar for the contact.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_avatar_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact_avatar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact_avatar"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}/avatar'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact_avatar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single contact note.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_note(id, opts = {})
      delete_contact_note_with_http_info(id, opts)
      nil
    end

    # Delete a single contact note.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_note_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact_note ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact_note"
      end
      # resource path
      local_var_path = '/api/v2/notes/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contact note by given ID(s) or delete all contact notes.
    # @param id 
    # @param delete_contact_notes_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_contact_notes_bulk(id, delete_contact_notes_bulk_input_object, opts = {})
      delete_contact_notes_bulk_with_http_info(id, delete_contact_notes_bulk_input_object, opts)
      nil
    end

    # Delete contact note by given ID(s) or delete all contact notes.
    # @param id 
    # @param delete_contact_notes_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_notes_bulk_with_http_info(id, delete_contact_notes_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact_notes_bulk ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact_notes_bulk"
      end
      # verify the required parameter 'delete_contact_notes_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_contact_notes_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_contact_notes_bulk_input_object' when calling TextMagicApi.delete_contact_notes_bulk"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}/notes/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_contact_notes_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact_notes_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contact by given ID(s) or delete all contacts.
    # @param delete_contacts_by_ids_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_contacts_by_ids(delete_contacts_by_ids_input_object, opts = {})
      delete_contacts_by_ids_with_http_info(delete_contacts_by_ids_input_object, opts)
      nil
    end

    # Delete contact by given ID(s) or delete all contacts.
    # @param delete_contacts_by_ids_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contacts_by_ids_with_http_info(delete_contacts_by_ids_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contacts_by_ids ...'
      end
      # verify the required parameter 'delete_contacts_by_ids_input_object' is set
      if @api_client.config.client_side_validation && delete_contacts_by_ids_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_contacts_by_ids_input_object' when calling TextMagicApi.delete_contacts_by_ids"
      end
      # resource path
      local_var_path = '/api/v2/contacts/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_contacts_by_ids_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contacts_by_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Unassign contacts from the specified list.
    # @param delete_contacs_from_list_object Contact ID(s), separated by comma
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contacts_from_list(delete_contacs_from_list_object, id, opts = {})
      delete_contacts_from_list_with_http_info(delete_contacs_from_list_object, id, opts)
      nil
    end

    # Unassign contacts from the specified list.
    # @param delete_contacs_from_list_object Contact ID(s), separated by comma
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contacts_from_list_with_http_info(delete_contacs_from_list_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contacts_from_list ...'
      end
      # verify the required parameter 'delete_contacs_from_list_object' is set
      if @api_client.config.client_side_validation && delete_contacs_from_list_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_contacs_from_list_object' when calling TextMagicApi.delete_contacts_from_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contacts_from_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_contacs_from_list_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contacts_from_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single custom field.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_field(id, opts = {})
      delete_custom_field_with_http_info(id, opts)
      nil
    end

    # Delete a single custom field.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_custom_field_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_custom_field ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_custom_field"
      end
      # resource path
      local_var_path = '/api/v2/customfields/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel dedicated number subscription.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dedicated_number(id, opts = {})
      delete_dedicated_number_with_http_info(id, opts)
      nil
    end

    # Cancel dedicated number subscription.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dedicated_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_dedicated_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_dedicated_number"
      end
      # resource path
      local_var_path = '/api/v2/numbers/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_dedicated_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the incoming message.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_inbound_message(id, opts = {})
      delete_inbound_message_with_http_info(id, opts)
      nil
    end

    # Delete the incoming message.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_inbound_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_inbound_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_inbound_message"
      end
      # resource path
      local_var_path = '/api/v2/replies/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_inbound_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete inbound messages by given ID(s) or delete all inbound messages.
    # @param delete_inbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_inbound_messages_bulk(delete_inbound_messages_bulk_input_object, opts = {})
      delete_inbound_messages_bulk_with_http_info(delete_inbound_messages_bulk_input_object, opts)
      nil
    end

    # Delete inbound messages by given ID(s) or delete all inbound messages.
    # @param delete_inbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_inbound_messages_bulk_with_http_info(delete_inbound_messages_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_inbound_messages_bulk ...'
      end
      # verify the required parameter 'delete_inbound_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_inbound_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_inbound_messages_bulk_input_object' when calling TextMagicApi.delete_inbound_messages_bulk"
      end
      # resource path
      local_var_path = '/api/v2/replies/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_inbound_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_inbound_messages_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single list.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_list(id, opts = {})
      delete_list_with_http_info(id, opts)
      nil
    end

    # Delete a single list.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an avatar for the list.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_list_avatar(id, opts = {})
      delete_list_avatar_with_http_info(id, opts)
      nil
    end

    # Delete an avatar for the list.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_list_avatar_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_list_avatar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_list_avatar"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/avatar'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_list_avatar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contact from list by given ID(s) or all contacts from list.
    # @param delete_list_contacts_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_list_contacts_bulk(delete_list_contacts_bulk_input_object, id, opts = {})
      delete_list_contacts_bulk_with_http_info(delete_list_contacts_bulk_input_object, id, opts)
      nil
    end

    # Delete contact from list by given ID(s) or all contacts from list.
    # @param delete_list_contacts_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_list_contacts_bulk_with_http_info(delete_list_contacts_bulk_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_list_contacts_bulk ...'
      end
      # verify the required parameter 'delete_list_contacts_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_list_contacts_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_list_contacts_bulk_input_object' when calling TextMagicApi.delete_list_contacts_bulk"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_list_contacts_bulk"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_list_contacts_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_list_contacts_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete list by given ID(s) or delete all lists.
    # @param delete_lists_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_lists_bulk(delete_lists_bulk_input_object, opts = {})
      delete_lists_bulk_with_http_info(delete_lists_bulk_input_object, opts)
      nil
    end

    # Delete list by given ID(s) or delete all lists.
    # @param delete_lists_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_lists_bulk_with_http_info(delete_lists_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_lists_bulk ...'
      end
      # verify the required parameter 'delete_lists_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_lists_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_lists_bulk_input_object' when calling TextMagicApi.delete_lists_bulk"
      end
      # resource path
      local_var_path = '/api/v2/lists/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_lists_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_lists_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a message session, together with all nested messages.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_message_session(id, opts = {})
      delete_message_session_with_http_info(id, opts)
      nil
    end

    # Delete a message session, together with all nested messages.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_message_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_message_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_message_session"
      end
      # resource path
      local_var_path = '/api/v2/sessions/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_message_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete messages sessions, together with all nested messages, by given ID(s) or delete all messages sessions.
    # @param delete_message_sessions_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_message_sessions_bulk(delete_message_sessions_bulk_input_object, opts = {})
      delete_message_sessions_bulk_with_http_info(delete_message_sessions_bulk_input_object, opts)
      nil
    end

    # Delete messages sessions, together with all nested messages, by given ID(s) or delete all messages sessions.
    # @param delete_message_sessions_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_message_sessions_bulk_with_http_info(delete_message_sessions_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_message_sessions_bulk ...'
      end
      # verify the required parameter 'delete_message_sessions_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_message_sessions_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_message_sessions_bulk_input_object' when calling TextMagicApi.delete_message_sessions_bulk"
      end
      # resource path
      local_var_path = '/api/v2/sessions/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_message_sessions_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_message_sessions_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete message
    # Delete a single message.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_message(id, opts = {})
      delete_outbound_message_with_http_info(id, opts)
      nil
    end

    # Delete message
    # Delete a single message.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_outbound_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_outbound_message"
      end
      # resource path
      local_var_path = '/api/v2/messages/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_outbound_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete messages by IDs
    # Delete outbound messages by given ID(s) or delete all outbound messages.
    # @param delete_outbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values  (default to true)
    # @return [nil]
    def delete_outbound_messages_bulk(delete_outbound_messages_bulk_input_object, opts = {})
      delete_outbound_messages_bulk_with_http_info(delete_outbound_messages_bulk_input_object, opts)
      nil
    end

    # Delete messages by IDs
    # Delete outbound messages by given ID(s) or delete all outbound messages.
    # @param delete_outbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :x_ignore_null_values 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_messages_bulk_with_http_info(delete_outbound_messages_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_outbound_messages_bulk ...'
      end
      # verify the required parameter 'delete_outbound_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_outbound_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_outbound_messages_bulk_input_object' when calling TextMagicApi.delete_outbound_messages_bulk"
      end
      # resource path
      local_var_path = '/api/v2/messages/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Ignore-Null-Values'] = opts[:'x_ignore_null_values'] if !opts[:'x_ignore_null_values'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_outbound_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_outbound_messages_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a push notification device token.
    # @param type 
    # @param device_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_push_token(type, device_id, opts = {})
      delete_push_token_with_http_info(type, device_id, opts)
      nil
    end

    # Delete a push notification device token.
    # @param type 
    # @param device_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_push_token_with_http_info(type, device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_push_token ...'
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling TextMagicApi.delete_push_token"
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling TextMagicApi.delete_push_token"
      end
      # resource path
      local_var_path = '/api/v2/push/tokens/{type}/{deviceId}'.sub('{' + 'type' + '}', type.to_s).sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_push_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a message session, together with all nested messages.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_scheduled_message(id, opts = {})
      delete_scheduled_message_with_http_info(id, opts)
      nil
    end

    # Delete a message session, together with all nested messages.
    # @param id 
    # @param [Hash] opts the optional parameters
[...]
